<%- include('header') %>

<section class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container text-center d-flex justify-content-center align-items-center flex-column">
        <h1>Xush kelibsiz mehmon</h1>
        <a class="btn btn-primary mt-2 w-50" href="/login">Login</a>
        <a class="btn btn-primary mt-2 w-50" href="/signup">SignUp</a>
    </div>
</section>

<%- include('footer') %>